/* Login page styling */

* { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

body {
    background-image: linear-gradient(to bottom,#572984,#d6d4e0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.tagline {
    font-size: 24px;
    margin: 10px 0 30px;
    background-color: purple;
    text-align: center;
}
.container {
    max-width: 400px;
    margin: 5% auto;
    padding: 50px;
    background-color: #EDE5F8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #572984;
}

.tab {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    flex: 1;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    background-color: #ddd;
}

.tab-button.active {
    background-color: #73cad2;
    color: white;
}

form { display: none; }

form.active-form { display: block; }

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #73cad2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover { background-color: #5b9aa0; }

.message {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.success { color: green; }

.error { color: red; }